body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
* {box-sizing: border-box;}
/* Logo */
form img {
    margin-top: 55px;
    margin-bottom: 15px;
    width: 200px;
    height: 46px;
}

form h3 {
    text-align: left;
    font-size: 15px;
}

/* 회원가입 정보 입력 */
.input-container {
  display: flex;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
}

.icon {
  /*padding: 10px;*/
  padding-top: 10px;
  background-color: #fafafa;
  min-width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  border-right: none;
  font-size: 30px;
  color: #ccc;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;
}

.input-focus {
    border-bottom: 2px solid #0074e9;;
}

.psw-intro {
    font-size: 12px;
    padding-bottom: 15px;
    color: #888;
    display: none;
}

.psw-focus {
    display: block !important;
}

/* 입력 오류 관련 */
#email-error, #emailrule, #name-error, #phone-error, #phonenumber-rule {
    font-size: 12px;
    color: #e52528;
    display: none;
}

.error-input {
    border-bottom: 2px solid #e52528;
}

.error-text {
    color: #e52528;
    display: block !important;
}

.error, .psw-intro {
    text-align: left;
    margin-left: 5px;
}

.ok {
    color: #00891a;
}

.not-success {
    display:none;
}

.success{
    display: block !important;
}

/* 체크박스 관련 */
/* CSS from w3school */
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 2px solid #aaa;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkall, .checklist{
    text-align: left;
}

.checkboxall-text{
    font-size: 20px !important;
    font-weight: bold;
}

.checkbox-text{
    font-size: 15px !important;
}

.checklist {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px 20px;
    font-size: 12px !important;
}

.sub-check, .check-arrow{
    display: inline-block;
}

.check-arrow{
    float: right;
}

.arrow-icon {
    text-decoration: none !important;
    color: #000;
    font-size: 26px;
}

/* 가입 버튼 */
/* Set a style for the submit button */
.btn {
  background-color: #0074e9;;
  color: #eee;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 20px;
  font-weight: bold;
}

.btn:hover {
  opacity: 1;
}

/* footer */
footer {
    padding: 20px 0 40px;
    text-align: center;
    font-family: dotum,sans-serif;
    font-size: 12px;
    line-height: 1.6;
    color: #555;
}



/* 입력창 정상입력 체크 아이콘 */
.btn-check {
  position: absolute;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.19;
  color: #346aff;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.btn-check-ok {
  display: block !important;
}

#email-ok, #psw-ok, #confirmPsw-ok, #name-ok, #phone-ok {
  right:0;
  margin-right: 32%;
  margin-top: 8px;
}